.button{
    width:200px;
    height:50px;
    background-color:transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor:pointer;
    border:2px solid black;
    border-radius:2px;
    
}